*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Poppins", sans-serif;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: rgb(184, 176, 152);
}

.box{
    position: relative;
    width: 700px;
    height: 700px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(0,0,0,0.5);
    overflow: hidden;
    border-radius: 50%;
}

.box::before{
    content: '';
    position: absolute;
    width: 200px;
    height: 1020px;
    background: linear-gradient(rgb(255, 214, 90),rgb(255, 191, 0));
    animation: animate 3s linear infinite;
}

.box::after{
    content: '';
    position: absolute;
    inset: 4px;
    border-radius: 50%;
    background: rgb(184, 176, 152);
}

@keyframes animate{

    0%{
        transform: rotate(0deg);
    }

    100%{
        transform: rotate(360deg);
    }

}

.imagen{
    justify-content: center;
    align-items: center;
    position: absolute;
    color: black;
    z-index: 10;
}

.imagen img{
    width: 900px;
    height: 900px;
}